@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root{
    --font1 : 'Kanit',verdana , arial,sans-serif;
    --font2: 'Bungee Shade', arial ,cursive;
    ;
    --font3: 'Bungee Spice', arial ,cursive;
    --font4:'Sacramento', arial, helvetica, cursive;
}
  
    body {       background-image: url('../imagens/papel-de-parede-cimento-queimado.jpg');
        background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
} 

    main {  
    
        backface-visibility: unset;
        background-size: cover;
         text-align: center;
      height: 170px;
   
        font-size: 12px;
        padding-top:  -200px;

    
   
    }
   header{  
 
    background-image: url('../imagens/fundo-preto.jpg');

  background-size: cover;
  background-position:center;
  background-attachment:  fixed;        
    color: whitesmoke;
    text-align: center;   
     margin-top: -10px; 
     margin-left: -10px;
     margin-right: -10px; 
     margin-bottom:  -20px;
  
    position: sticky;
    top: 0%;
    padding-top: 50px;
     padding-bottom: 10px;
    padding-left: 1px;
     padding-right: 1px;
    box-shadow:  1px 2px 2px rgba(0, 0, 0, 0.311);



 
 
    

 
              
} 

header > h1{  
  
    font-family: var(--font1) ;
        text-transform: uppercase;
         font-style:normal; 
         
        
       
         font-size:32px;
         text-shadow: rgba(153, 132, 0, 0.571) 1px 1px 6px ;
         border-radius: 10px  10px 0px 0px;
     
} 

header > p{     background-image:url('../imagens/aco-inox.jpg');
    background-size: cover;
    background-repeat: no-repeat;
 

    color: rgb(6, 6, 6);
    font-family: var(--font4);
    font-style: italic;
    font-size: 18px;   
   box-shadow: 1px 2px 4px rgba(189, 167, 0, 0.474);
 
}
 
  
    
 a{ color: rgb(0, 0, 80);
    background-color: rgba(210, 210, 210, 0.263);
    border-radius: 2px 1px;
}

section {  background-image: url('../imagens/aco-inox.jpg');
            background-size: cover;       
       
           padding-top: 10px;
           margin: 50px;
             text-align: center;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.467);
             border-radius: 100px 10px 100px;      
     
}  section.normal{
  
  
    font-family:var(--font4) ;
   margin-bottom: 100px;
    padding:  14px;
  
}
p > img{ width: 20px;
   
}

section  p {
color: black;
padding-top :10px;
margin-top: -110px;
 font-family: var(--font1) ;
 font-style: italic;
text-align: center;

} 

section.imagem { 
     background-image: url('../imagens/3d.jpeg ');
     min-width: 400px;
      background-size: contain;
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;

       height:50vh;

  margin: 0%;
  box-shadow: inset 1px 1px 3px rgba(206, 185, 0, 0.243);

   
    





 


} section#rede-sociais img{
    width: 26px;
    text-emphasis: none;
    box-shadow: 1px 1px 3px rgba(70, 60, 0, 0.439);
    margin:  4px;
    padding:5px;
    border-radius: 50%;
    text-align: center;
   
}section#rede-sociais img:hover {
    
     border: 2px solid rgba(62, 39, 39, 0.432);
transform:translate(-3px, -3px) ;
box-shadow: 1px 1px 1px black;
transition: transform  1s;
}

section#imgsanca{
    background-image: url('../imagens/sanca.jpeg');
    border-radius: 20px;
   background-size: contain;
   background-repeat: no-repeat;

    background-position: center center;

      background-attachment:fixed;
      
} section#imgteto{
    background-image: url('../imagens/teto.jpeg');
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center center;
 border-radius: 20px;
    background-attachment: fixed;
}

section.imagem p { 
/*to afim de tirar isso*/
font-family: var(--font4);
color:rgb(0, 0, 0);
font-size: x-large;

text-shadow: 1px 1px 3px rgba(206, 197, 126, 0.583);
text-align: center center;
border-radius: 20px;
}
footer { 
    background-image: url('../imagens/fundo-preto.jpg');
    
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    margin-top: 10px; 
    margin-left: -12px;
    margin-right: -10px; 
    box-shadow:  1px 1px 2px rgba(0, 0, 0, 0.589);
        padding: 13px;
        border-radius: 2px;
} footer > a {
     
    color:rgb(35, 35, 53);
    font-size:x-small;
}

footer p {  text-align: center top;

  
   font-size:x-small;
   color: rgb(198, 228, 255);
   

} 
