@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');


:root{
    --font1 : 'Kanit',verdana , arial,sans-serif;
    --font2: 'Bungee Shade', arial ,cursive;
    ;
    --font3: 'Bungee Spice', arial ,cursive;


}
 
 
 section.normal{background-color: rgb(255, 255, 255);

    background-position: center center;

}  
    body { 
} 

    main {   text-align: center;
        font-size: 10px;
        margin: 4px;
        padding: 10px;
        background-color: rgb(246, 246, 246);
        border-radius: 20px;
}
   header{  position: sticky;
    top: -1px;
    background-image: radial-gradient(circle,  rgb(36, 69, 255) , rgb(48, 30, 182) ,rgb(0, 7, 209));
    color:rgb(255, 255, 255);
    text-align: center; 
    padding-top: 18px;
     padding-bottom: 2px;
    padding-left: 14px;
     padding-right: 14px;
  border-radius: 2px;
  box-shadow: rgb(6, 21, 60) 1px 1px 3px 1px;
              
}

header > h1{  
     background-image: radial-gradient(circle,  rgba(202, 162, 151, 0.913) , rgba(228, 198, 174, 0.949) ,rgba(163, 153, 132, 0.827));
    font-family: var(--font1) ;
     font-style:normal;
        padding: 18px;
          margin: 0%;       
       font-size: 7vw;
      text-shadow: rgb(8, 0, 69) 1px 2px 4px ;
      border-radius: 10px  10px 0px 0px;
      box-shadow: 1px 2px 3px rgba(43, 20, 0, 0.478);
      
}header > p{    background-image: radial-gradient(circle,  rgba(202, 162, 151, 0.913) , rgba(228, 198, 174, 0.949) ,rgba(163, 153, 132, 0.827));
    color: rgb(247, 247, 247);
    text-shadow: 1px 1px 1px  rgb(0, 63, 0); 
    padding: 6px ;
       background-size: cover;   background-attachment: fixed;
    border-radius:1px 0px 10px  10px;
    box-shadow: 1px 2px 3px rgba(43, 20, 0, 0.446);

}
   header a, footer a  { 
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
} 
header p:hover ,footer p:hover{ 

    text-decoration: underline;
}

section { 
 
    text-align: center;  
   background-image: radial-gradient(circle,   rgba(224, 212, 208, 0.39) ,rgba(173, 188, 235, 0.228) ,rgba(255, 253, 250, 0.284));
   border-radius: 10px 10px 10px;
       background-size: cover;
         background-attachment: fixed;
     
} 
p > img{ 
    width: 12px;
}

section > p {
color: black;
 font-family: var(--font1) ;
 font-style: italic;
text-align: center;

} 

section.imagem {height: 55vh;
  box-shadow: inset 1px 1px 10px 1px rgba(240, 236, 235, 0.824);
 background-size: contain;
    background-attachment: fixed;

} section#rede-sociais img{
    width: 26px;
    text-emphasis: none;
    margin:  4px;
    padding:6px;
    border-radius: 50%;
    text-align: center;
   
}section#rede-sociais img:hover {
     border: 2px solid rgba(62, 39, 39, 0.432);
transform:translate(-3px, -3px) ;
box-shadow: 1px 1px 1px black;
transition: transform  2s;
}

section#imgsanca{
    background-image: url('../imagens/sanca.jpeg');
    border-radius: 20px;
   background-size: contain ;
   background-repeat: no-repeat;

    background-position: center center;
   min-width: 300px;
      background-attachment:fixed;
      
} section#imgteto{
    background-image: url('../imagens/teto.jpeg');
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center center;
 border-radius: 20px;
    background-attachment: fixed;
}

section.imagem p { 
/*to afim de tirar isso*/
color:rgb(0, 0, 0);
height: 20vh;
text-shadow: 2px 2px 8px rgb(0, 0, 255);
text-align: center center;
border-radius: 20px;
  padding:  10px;
  margin: 70px;
  background-color: rgba(180, 192, 253, 0.13);




  
}
footer{ 
    background-color: rgb(66, 0, 209);

    text-align: center;
        padding: 13px;
      border-radius: 2px;
}

footer p { 
   text-align: center top;

    color: aliceblue;
   

} 
