@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root{
    --font1 : 'Kanit',verdana , arial,sans-serif;
    --font2: 'Bungee Shade', arial ,cursive;
    ;
    --font3: 'Bungee Spice', arial ,cursive;
    --font4:'Sacramento', arial, helvetica, cursive;
}
  
    body {       background-image: url('../imagens/papel-de-parede-cimento-queimado.jpg');
        background-repeat: no-repeat;
    background-size:cover;
} 

    main {   text-align: center;
        font-size: 10px;
        margin: 4px;
        padding: 32px;
        background-color: rgba(223, 223, 255, 0.029);
        border-radius: 20px;
}
   header{  
 
    background-image: url('../imagens/fundo-preto.jpg');
     background-size:contain;
background-attachment: fixed;
 color: whitesmoke;
    text-align: center;   
     margin-top: -10px;   
    position: sticky;
    top: 0%;
    padding-top: 28px;
     padding-bottom: 1px;
    padding-left: 1px;
     padding-right: 1px;
    box-shadow:  1px 2px 2px black;
              
} 

header > h1{  
  
    font-family: var(--font1) ;
        text-transform: uppercase;
         font-style:normal; 
        padding: 16px;
          margin: 0%;       
         font-size:27px;
         text-shadow: rgba(113, 76, 0, 0.702) 1px 1px 2px ;
         border-radius: 10px  10px 0px 0px;
     
} 

header > p{     background-image:url('../imagens/aco-inox.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    color: rgb(6, 6, 6);
    font-family: var(--font4);
    font-style: italic;
    font-size: 16px;   
   box-shadow: 1px 2px 3px rgba(43, 20, 0, 0.446);
 
}
   header a, footer a  {  background-image: url('../imagens/aco-inox.jpg');
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
} 
header p:hover ,footer p:hover{ 

    text-decoration: underline;
}

section {  background-image: url('../imagens/aco-inox.jpg');
            background-size: cover;
            padding: 18px;
             text-align: center;
            box-shadow: 1px 1px 3px black;
             border-radius: 100px 10px 100px;      
     
}  section.normal{
  
    font-family:var(--font4) ;
    padding:  16px;

}
p > img{ 
    width: 14px;
}

section  p {
color: black;
padding-top :10px;
 font-family: var(--font1) ;
 font-style: italic;
text-align: center;

} 

section.imagem {height: 60vh;
  box-shadow: inset 1px 1px 6px 1px rgba(118, 108, 0, 0.256);
 background-size: contain;
    background-attachment: fixed;
 
margin: 0%;

} section#rede-sociais img{
    width: 26px;
    text-emphasis: none;
    box-shadow: 1px 1px 3px rgba(70, 60, 0, 0.439);
    margin:  4px;
    padding:6px;
    border-radius: 50%;
    text-align: center;
   
}section#rede-sociais img:hover {
     border: 2px solid rgba(62, 39, 39, 0.432);
transform:translate(-3px, -3px) ;
box-shadow: 1px 1px 1px black;
transition: transform  1s;
}

section#imgsanca{
    background-image: url('../imagens/sanca.jpeg');
    border-radius: 20px;
   background-size: contain;
   background-repeat: no-repeat;

    background-position: center center;

      background-attachment:fixed;
      
} section#imgteto{
    background-image: url('../imagens/teto.jpeg');
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center center;
 border-radius: 20px;
    background-attachment: fixed;
}

section.imagem p { 
/*to afim de tirar isso*/
font-family: var(--font4);
color:rgb(0, 0, 0);
font-size: large;
text-shadow: 1px 1px 1px rgba(119, 113, 0, 0.314);
text-align: center center;
border-radius: 20px;
}
footer { 
    background-image: url('../imagens/fundo-preto.jpg');
    background-attachment: fixed;
    background-size: contain;
    text-align: center;
    box-shadow:  1px 1px 2px rgba(0, 0, 0, 0.589);
        padding: 13px;
      border-radius: 2px;
} footer a {
    color: rgba(69, 64, 62, 0.839);
    font-size:x-small;
}

footer p { 
   text-align: center top;
   font-size:x-small;

    color: aliceblue;
   

} 
